{% extends "layout.html" %}
{% block style %}
<style>
  *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
button{
	  grid-area: auto/ 1/ auto/ span 3;
	  height: 40px;
	  width: 100px;
	  margin: auto;
	  border-radius: 20px;
	  border: 1px solid black;
	}
</style>
{% endblock %}
{% block body %}

{% set sell_report_link = "/sell_report?user=" + user %}
{% set bill_page_link = "/bill?user=" + user %}
{% set stock_link = "/stock?user=" + user %}
{% set add_customer_link = "/addCustomer?user=" + user%}
{% set add_product_link = "/addProduct?user=" + user %}
{% set create_bill_link = "/create_bill?user=" + user %}
<div class="links">
	<a href= {{ sell_report_link }}>sell report</a>
	<a href= {{ bill_page_link }} > make a bill </a>
	<a href= {{ stock_link }} > stock </a>
	<a href= {{ add_product_link }} > addProduct </a>
	<a href= {{ add_customer_link }}>Customer</a>
</div>
<template id="template">
	<div class="form-group mb-2">
		<div class="row">
			<select class="col-8" type=text name="item" id="1" placeholder="item-name">
				{% for product in PRODUCTS %}
				<option value={{ product }}> {{product}} </option>
				{% endfor %}
			</select>
			<input class="col-2" type="number" name="quntaty" id="2" placeholder="quantaty"> 
			<input class="col-2 add-row" type="number" name="price" id="3" placeholder="rate">
		</div>
	</div>

	<button type="submit" id="btn-submit" value="submit">create bill</button>
</template>

<div class="container-sm">
	<form class="container-md" id="form" action={{ create_bill_link }} method="post">
		<div class="form-group d-flex flex-row-reverse mb-3">
				<select class="form-select" name="customerName" style="width: 200px;" aria-label="Select Customer">
					<option value=""></option>
					{% for customer in customers %}
					<option value={{ customer }}> {{ customer }} </option>
					{% endfor %}
				</select>
		</div>
		<div class="form-group mb-2">
			<div class="row">
				<select type="text" class="col-8 " name="item-1" placeholder="item-name">
					{% for product in PRODUCTS %}
					<option value={{ product }}> {{product}} </option>
					{% endfor %}
				</select>
				<input type="number" class="col-2" name="quntaty-1" placeholder="quantaty"> 
				<input id="p" type="number" class="col-2 add-row" name="price-1" placeholder="rate">
			</div>
		</div>
		<button type="submit" id="btn-submit" value="submit">create bill</button>
	</form>
</div>

<script>
	let form = document.getElementById("form");
	let template = document.getElementById("template");
	let add_row = document.getElementsByClassName("add-row");
	let count = 2;

	function add(){
		
		let clear_btn = document.getElementById("btn-submit");
		form.removeChild(clear_btn);
		node = document.getElementById("template");
		cloned = node.content.cloneNode(true);
		let item = cloned.getElementById("1");
		let quntaty = cloned.getElementById("2");
		let price = cloned.getElementById("3");

		let str = count.toString();

		item.setAttribute("name", ("item-"+str));
		quntaty.setAttribute("name", ("quntaty-"+str));
		price.setAttribute("name", ("price-"+str));
		form.appendChild(cloned);

		count+=1;

		add_row[add_row.length - 1].addEventListener("input", add);
		add_row[add_row.length - 2].removeEventListener("input", add);
		item.addEventListener("input", (e) => {
			console.log(item.value)
			fetch("/fetchPrice?product="+item.value)
				.then(function(response){
					if(response.ok){
						console.log(response);
						const data =  response.text();
						console.log(data);
						price.value = response;
					}
				})
				.catch(function(error){
					console.error(error);
				})
			
		});
		console.log(add_row.length);
	}

	add_row[add_row.length - 1].addEventListener("input", add);
	
	function fetchPrice( e ){
		console.log(e.value);
	}
</script>
{% endblock %}
