<html>
  <head>
<style>
h1{
  font-size: 2em;
  color: rgb(255,255,255);
}
.header{
  display: flex;
  justify-content: center;
  background-color: black;
}
.links{
  display: flex;
  flex-direction: row-reverse;
  color: white;
  background:#000;
  gap: 20px;
}
a{
  margin : 20px;
}
</style>
{% block style %}

{%endblock%}
  </head>
  
  <body>
	<div class=header>
	  <h1>Make your bills easily</h1>
	</div>
	<div class="links">
	  <a href="/stock_report">stock report</a>
	  <a href="/index"> make a bill </a>
	</div>
	{% block body %}

	{% endblock %}
  </body>
</html>
