{% extends "layout.html" %}

{% block style %}
  <style>

	table{
	  width: 90vw;
	  border: 1px solid black;
	  margin-bottom: 2vh;
	}
	tr:nth-child(odd){
	  background-color: rgb(200,200,200);
	}

	td{
	  width: 15vw;
	  border: 1px solid black;
	}
	td:first-child{
	  width: 60vw;
	}

  </style>
{% endblock %}

{% block body %}
{% set sell_report_link = "/sell_report?user=" + user %}
{% set bill_page_link = "/bill?user=" + user %}
{% set stock_link = "/stock?user=" + user %}
{% set add_customer_link = "/addCustomer?user=" + user%}
<div class="links">                         
    <a href= {{ sell_report_link }}>sell report</a>
    <a href= {{ bill_page_link }} > make a bill </a>
    <a href= {{ stock_link }} > stock </a>  
    <a href= {{ add_customer_link }}>Customer</a>
</div>                         

{% for customer in CUSTOMERS %}
{% set customer_id = "#" + customer %}
<div>
	<button class="btn mybtn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls={{ customer }}>{{ customer }}</button>
</div>
<div class="container-md collapse multi-collapse" id = {{ customer }}>
	{% for BILLS in ALL_BILLS[customer] %}
	<div class="container-fluid mb-5">
	{% for i in BILLS %}
		<div class="row">
			<div class="col-6"> {{ i.item }} </div>
			<div class="col-2"> {{ i.quntaty }}</div>
			<div class="col-2"> {{ i.price }} </div>
			<div class="col-2"> {{ i.amount }} </div>
		</div>
	{% endfor %}
	</div>
	{% endfor %}
</div>
{% endfor %}
<script>
	let btns = document.getElementsByClassName("mybtn");
	let TARGET = "";
	for(var i=0; i<btns.length; i++){
		TARGET += btns[i].innerHTML + " ";
	}
	for(var i=0; i<btns.length; i++){
		btns[i].setAttribute("aria-controls",TARGET);
	}
	function myCollapse(thisBtn){
		for(var i=0; i<btns.length; i++){
			 document.getElementById(btns[i].innerHTML).setAttribute("class", "container-md collapse multi-collapse");
			btns[i].setAttribute("aria-expanded", "false");
		}
		document.getElementById(thisBtn.innerHTML).setAttribute("class", "container-md collapse multi-collapse show");
		thisBtn.setAttribute("aria-expanded", "true");
		console.log(thisBtn.innerHTML);
	}
	for(var i=0; i<btns.length; i++){
		btns[i].addEventListener("click", myCollapse(btns[i]));
	}
</script>
{% endblock %}
