{% extends "layout.html" %}

{% block style %}
  <style>

	table{
	  width: 90vw;
	  border: 1px solid black;
	  margin-bottom: 2vh;
	}
	tr:nth-child(odd){
	  background-color: rgb(200,200,200);
	}

	td{
	  width: 15vw;
	  border: 1px solid black;
	}
	td:first-child{
	  width: 60vw;
	}

  </style>
{% endblock %}

{% block body %}

{% set sell_report_link = "/sell_report?user=" + user %}
{% set create_bill_link = "/bill?user=" + user %}
<div class="links">
	<a href= {{ sell_report_link }}>sell report</a>
	<a href= {{ create_bill_link }} > make a bill </a>
</div>
{% set TARGET = "" %}
{% for customer in CUSTOMERS %}
{% set TARGET = TARGET + customer + " " %}
{% endfor %}

{% for customer in CUSTOMERS %}
{% set customer_id = "#" + customer %}
<div>
	<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target= {{ customer_id }} aria-expanded="false" aria-controls={{ customer }}>{{ customer }}</button>
</div>
<div class="container-md collapse multi-collapse" id = {{ customer }}>
	{% for BILLS in ALL_BILLS[customer] %}
	<div class="container-fluid mb-5">
	{% for i in BILLS %}
		<div class="row">
			<div class="col-6"> {{ i.item }} </div>
			<div class="col-2"> {{ i.quntaty }}</div>
			<div class="col-2"> {{ i.price }} </div>
			<div class="col-2"> {{ i.amount }} </div>
		</div>
	{% endfor %}
	</div>
	{% endfor %}
</div>
{% endfor %}
<script>
	let btn = document.getElementsByClassName("btn");
	let TARGET = "";
</script>
{% endblock %}
