<html>
  <head>
<style>
div{
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 20px solid black;
  border: 1px solid black;
  background-color: rgb(255,255,255);
  margin: auto;
}
body{
  background-color: rgb(225,225,225);
  display: flex;

}
a{
  padding: 10px 20px;
  background: linear-gradient(45deg,red,orrange);
  margin: 10px 0px;
}
</style>
  </head>

  <body>
	<div>
	  <a href="/login-form">Login</a>
	  <a href="/signup-form"> Signup </a>
	</div>
  </body>
</html>
