<html>
		<head>
				<style>
						form{
								display: grid;
								border: 1px solid black;
								padding: 20px;
								grid-template-columns: auto auto;
						}
				</style>
		</head>
		<body>
				<form action="http://127.0.0.1:5000/greet" method="post">
						<label for="name"> Name : </label>
						<input type="text" name="user-name" autofocus placeholder="name">
						<label for="password"> Password  : </label>
						 <input type="password" placeholder="paswword" name="password" pattern="[a-z,0-9]{4}">
						<a href="http://127.0.0.1:5000/register"> not registered yet..? </a>
						<button type="submit" value="submit"></button>
				</form>

					{% if flag %}
					<h3>
					{{ message }}
					</h3>
					{% endif %}
</body>
</html>

